<div style="background: #F2F2F2; height: 2px; width: 1440px;"></div>
<div class="content-profile">
    <div class="item-menu">
        <nav class="nav flex-column">
            <a class="nav-link" [routerLink]="['/dashboard/profile']"><span>Profile</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/email']"><span>Email</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/password']"><span>Password</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/bank-account']"><span>Bank Account</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/tax-information']"><span>Tax Information</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/notifications']"><span>Notifications</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/help-support']"><span>Help & Support</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/contact-us']"><span>Contact Us</span></a>
            <a class="nav-link"><span>Report an Issue</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/payments-report']"><span>Reports of Payments</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/privacy-policy']"><span>Privacy Policy</span></a>
            <a class="nav-link active"><span>Terms & Conditions</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/delete-account']"><span>Delete Your Account</span></a>
        </nav>
    </div>
    <div class="item-content-right">
        <h2>Terms & Conditions</h2>
        <div class="text-top">
            <p class="title">Cras sed arcu at ligula lobortis maximus</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet sit amet enim a elementum. Sed porta risus vel velit finibus, quis mattis arcu lobortis. Etiam in imperdiet urna. Nullam in dignissim tellus. Pellentesque placerat sem at mi auctor, faucibus interdum diam ultricies. Cras sed arcu at ligula lobortis maximus. Praesent eget metus vel massa dapibus euismod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet sit amet enim a elementum. Sed porta risus vel velit finibus, quis mattis arcu lobortis. Etiam in imperdiet urna. Nullam in dignissim tellus. Pellentesque placerat sem at mi auctor. </p>
        </div>
        <div class="text-bottom">
            <p class="title">Cras sed arcu at ligula lobortis maximus</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet sit amet enim a elementum. Sed porta risus vel velit finibus, quis mattis arcu lobortis. Etiam in imperdiet urna. Nullam in dignissim tellus. Pellentesque placerat sem at mi auctor, faucibus interdum diam ultricies. Cras sed arcu at ligula lobortis maximus. Praesent eget metus vel massa dapibus euismod.</p>
        </div>
    </div>
</div>