/*========Header==========*/
header{
    display: flex;
}
header img{
    margin: 32px 0 29px 44px;
}
header h5{
    width: 141px;
    height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
    color: #001527; 
    margin: 33px 0 22px 578px;
    white-space: nowrap;
}
header a.save{
    margin: 36px 55px 34px 490px;
    width: 104px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: right;
    color: #757575;
    white-space: nowrap;
}

/*==========Content========*/
.step-line {
    height: 5px;
    background: #E0E0E0;
    position: relative;
    width: 1440px;
}
.step-line-2{
    height: 5px;
    position: absolute;
    -webkit-animation-name: line;  
    -webkit-animation-duration: 5s;   
    -webkit-animation-fill-mode: forwards; 
    animation-name: line;
    animation-duration: 5s;  
    animation-fill-mode: forwards;
    background-color: orange;
}
@keyframes line {
    from {width: 1080px;}
    to {width: 1440px; }
}
#complete {
    font-family: Lato;
    margin-top: 245px;
    width: 1440px;
}
#complete img{
    width: 56px;
    height: 56px;
    margin: 0 692px;
}
#complete h4{
    width: 297px;
    height: 77px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    color: #001527;
    margin: 32px 571px 68px 572px;
}
#complete .link-end{
    color: #FF9100;
}
#complete .link-end a{
    color: #FF9100;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    width: 163px;
    height: 27px;
    margin-left: 627px
}
#complete .link-end i{
    width: 14px;
    height: 8px;
    margin-left: 16px;
}