/*========Header==========*/
header{
    display: flex;
}
header img{
    margin: 32px 0 29px 44px;
}
header h5{
    width: 141px;
    height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
    color: #001527; 
    margin: 33px 0 22px 578px;
    white-space: nowrap;
}
header a.save{
    margin: 36px 55px 34px 490px;
    width: 104px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: right;
    color: #757575;
    white-space: nowrap;
}

/*========Content==========*/
.step-line {
    height: 5px;
    background: #E0E0E0;
    position: relative;
    width: 1440px;
}
.step-line-2{
    height: 5px;
    position: absolute;
    -webkit-animation-name: line;  
    -webkit-animation-duration: 5s;   
    -webkit-animation-fill-mode: forwards; 
    animation-name: line;
    animation-duration: 5s;  
    animation-fill-mode: forwards;
    background-color: orange;
}
@keyframes line {
    from {width: 0px;}
    to {width: 180px; }
}

#content{
    font-family: Lato;
    width: 1440px;
}
#content h4{
    width: 191px;
    height: 39px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    color: #001527;
    margin: 186px 625px 29px 624px;
}
#content p.title{
    width: 430px;
    height: 74px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 22px;
    text-align: center;
    color: #757575;
    margin: 0 505px;
}
#content .form-group select{
    width: 430px;
    height: 62px;
    margin: auto;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 21px;
    margin-bottom: 62px;
    color: #001527;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
}
#content .form-group>.form-control:focus {
    border: 2px solid #FF9100;
    box-sizing: border-box;
    box-shadow: none;
}
#content button.icon-left {
    top: 426px;
    left: 132px;
    position: absolute;
    width: 48px;
    height: 48px;
    background: #E0E0E0;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
#content button.icon-left:focus {
    outline : none;
}
#content button.icon-left i{
    width: 8px;
    height: 14px;
}
#content .enter-continue{
    display: flex;
    display: flex;
    margin: 0 637px 283px 642px ;
}
#content .enter-continue p.continue{
    width: 75px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #333;
    margin-bottom: 0;
}
#content .enter-continue p.exit{
    width: 92px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #BDBDBD;
}
#content .enter-continue button.icon-right{
    width: 48px;
    height: 48px;
    background: #FF9100;
    border-radius: 50%;
    border: 1px solid #FF9100;
    margin-left: 21px;
    cursor: pointer;
    color: #fff;
}
#content .enter-continue button.icon-right:focus{
    outline: none;
}
#content .enter-continue button.icon-right i{
    width: 8px;
    height: 14px;
}