<div style="background: #F2F2F2; height: 2px; width: 1440px;"></div>
<div class="content-password">
  <div class="item-menu">
    <nav class="nav flex-column">
      <a class="nav-link " [routerLink]="['/dashboard/profile']"><span>Profile</span></a>
      <a class="nav-link"  [routerLink]="['/dashboard/email']"><span>Email</span></a>
      <a class="nav-link"><span>Password</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/bank-account']"><span>Bank Account</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/tax-information']"><span>Tax Information</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/notifications']"><span>Notifications</span></a>
      <a class="nav-link "  [routerLink]="['/dashboard/help-support']"><span>Help & Support</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/contact-us']"><span>Contact Us</span></a>
      <a class="nav-link "><span>Report an Issue</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/payments-report']"><span>Reports of Payments</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/privacy-policy']"><span>Privacy Policy</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/terms-conditions']"><span>Terms & Conditions</span></a>
      <a class="nav-link " [routerLink]="['/dashboard/delete-account']"><span>Delete Your Account</span></a>
    </nav>
  </div>
  <div class="item-content-right">
    <h2>Change your password</h2>
    <form (submit)="changePassWord(currentPass.value, newPass.value, confirmPass.value)" #formPass="ngForm">
      <div class="form-group">
        <label>Current Password</label>
        <input type="text" class="form-control" ngModel name="currentpass" required autocomplete="off" #currentPass >
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="text" class="form-control" ngModel name="newpass" required #newPass autocomplete="off">
      </div>
      <div class="form-group">
        <label>Confirm New Password</label>
        <input type="text" class="form-control" ngModel name="confirm" required #confirmPass autocomplete="off">
      </div>
      <div class="text-error" *ngIf="showErr">{{error}}</div>
      <button [disabled]="formPass.invalid">Save Changes</button>
    </form>
  </div>
</div>