<div style="background: #F2F2F2; height: 2px; width: 1440px;"></div>
<div class="content-profile">
    <div class="item-menu">
        <nav class="nav flex-column">
            <a class="nav-link" [routerLink]="['/dashboard/profile']"><span>Profile</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/email']"><span>Email</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/password']"><span>Password</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/bank-account']"><span>Bank Account</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/tax-information']"><span>Tax Information</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/notifications']"><span>Notifications</span></a>
            <a class="nav-link active"><span>Help & Support</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/contact-us']"><span>Contact Us</span></a>
            <a class="nav-link"><span>Report an Issue</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/payments-report']"><span>Reports of Payments</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/privacy-policy']"><span>Privacy Policy</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/terms-conditions']"><span>Terms & Conditions</span></a>
            <a class="nav-link" [routerLink]="['/dashboard/delete-account']"><span>Delete Your Account</span></a>
        </nav>
    </div>

    <div class="item-content-right">
            <div class="help-search">
                <h3>What can we help you with?</h3>
                <input type="search" name="" id="" placeholder="Search">
                <i class="fas fa-search"></i>
                <div class="category-content-1">
                    <div class="item">
                        <h4>Category</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <a href="">See all</a>
                    </div>
                    <div class="item">
                        <h4>Category</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <a href="">See all</a>
                    </div>
                </div>
                <div class="category-content-2">
                    <div class="item">
                        <h4>Category</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <a href="">See all</a>
                    </div>
                    <div class="item">
                        <h4>Category</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, minus! Officia iusto expedita obcaecati eveniet. Quasi maiores </p>
                        <a href="">See all</a>
                    </div>
                </div>
            </div>
            <div class="how-content">
                <h3>How to adjust your withholding amount</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet sit amet enim a elementum. Sed porta risus vel velit finibus, quis mattis arcu lobortis. Etiam in imperdiet urna. Nullam in dignissim tellus. Pellentesque placerat sem at mi auctor, faucibus interdum diam ultricies. Cras sed arcu at ligula lobortis maximus. Praesent eget metus vel massa dapibus euismod.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet sit amet enim a elementum. Sed porta risus vel velit finibus, quis mattis arcu lobortis. Etiam in imperdiet urna. Nullam in dignissim tellus. Pellentesque placerat sem at mi auctor.</p>
                <div class="list-item">
                    <ol>
                        <li>Aenean lobortis ut ipsum id pulvinar.</li>
                        <li>Nulla faucibus mauris sit amet enim feugiat congue. Maecenas egestas sit amet arcu sit amet tempus. </li>
                        <li>Morbi ut ligula eu sem aliquet suscipit ac ac magna.</li>
                        <li>Proin vehicula urna eleifend ipsum gravida sagittis. Maecenas vitae fermentum lectus.</li>
                    </ol>
                </div>
            </div>
            <div class="choose-bottom">
                <p>Was this article helpful?</p>
                <a href=""><img src="assets/images/dashboard/green.png" alt=""></a>
                <a href=""><img src="assets/images/dashboard/red.png" alt=""></a>
            </div>
    </div>
</div>