<div class="main-content">
  <div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="content-main" style="margin: auto">
        <div style="width: 904px !important;">
          <div class="card-group">
            <div class="content-signin-left" style="width:50%">
              <div class="img-login" [@divState]="state" (click)="click()">
                <img [src]="imgSingup" class="img-fluid" [@stateImg]="stateImg">
                <div class="text-content text-center">
                  <h2>Welcome to Better</h2>
                  <span>Taxes made simple</span>
                </div>
              </div>
              <div class="card p-4 content" *ngIf="showloading" [@signIn]="state1" >
                <div class="card-body" style="margin: auto;">
                  <form>
                    <h1>Sign in</h1>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email address" autocomplete="off" required #email>
                    </div>
                    <div class="input-group">
                      <input [type]="!showPass ? 'password' : 'text'" class="form-control" [(ngModel)]="txtpassLogin" name="passLogin"
                        placeholder="Password" autocomplete="off" id="password" required (keyup.enter)="login(email.value,password.value)" #password>
                      <div class="img-Eye" (click)="TogglePassword()" *ngIf="txtpassLogin.length == 0 ? showEye : !showEye">
                        <a><img [src]="imgEye" *ngIf="showPass"></a>
                        <a><img [src]="imgHideEye" *ngIf="!showPass" style="width: 24px; height: 24px;"></a>
                      </div>
                    </div>
                    <button type="button" (click)="login(email.value,password.value)">Sign into your account</button>
                    <div class="text-bot">
                      <span>Already a member? <a style="cursor: pointer">Sign up.</a></span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="content-signin-right" style="width:50%">
              <div class="card p-4 content" *ngIf="!showloading">
                <div class="card-body" style="margin: auto;">
                  <form>
                    <h1>Create your account</h1>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email address" autocomplete="off" required #emailRegister>
                    </div>
                    <div class="input-group">
                      <input [type]="!showPass ? 'password' : 'text'" class="form-control" [(ngModel)]="txtpassRegister" name="pass"
                        placeholder="Password" autocomplete="off" required (key.enter)="RegisterAccount(emailRegister.value, passwordRegister.value)" #passwordRegister>
                      <div class="img-Eye" *ngIf="txtpassRegister.length == 0 ? showEye : !showEye" (click)="TogglePassword()" >
                        <a><img [src]="imgEye" *ngIf="showPass"></a>
                        <a><img [src]="imgHideEye" *ngIf="!showPass" style="width: 24px; height: 24px;"></a>
                      </div>
                    </div>
                    <button type="button" (click)="RegisterAccount(emailRegister.value,passwordRegister.value)">Continue to next step</button>
                    <div class="text-bot">
                      <span>Already a member? <a style="cursor: pointer;" [routerLink]="['/signup/signin']">Sign in.</a></span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="error-loading" *ngIf="showErr">
  <div class="text-err">{{error}}</div>
</div>