<div style="background: #F2F2F2; height: 2px; width: 1440px;"></div>
<div class="content-email">
  <div class="item-menu">
      <nav class="nav flex-column">
          <a class="nav-link" [routerLink]="['/dashboard/profile']"><span>Profile</span></a>
          <a class="nav-link"><span>Email</span></a>
          <a class="nav-link" [routerLink]="['/dashboard/password']"><span>Password</span></a>
          <a class="nav-link" [routerLink]="['/dashboard/bank-account']"><span>Bank Account</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/tax-information']"><span>Tax Information</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/notifications']"><span>Notifications</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/help-support']"><span>Help & Support</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/contact-us']"><span>Contact Us</span></a>
          <a class="nav-link "><span>Report an Issue</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/payments-report']"><span>Reports of Payments</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/privacy-policy']"><span>Privacy Policy</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/terms-conditions']"><span>Terms & Conditions</span></a>
          <a class="nav-link " [routerLink]="['/dashboard/delete-account']"><span>Delete Your Account</span></a>
        </nav>
  </div>
  <div class="item-content-right">
    <h2>Change your email address</h2>
    <form (submit)="ChangeEmail(currentEmail.value, newEmail.value)" #formEmail="ngForm">
      <div class="form-group">
        <label>Current Email</label>
        <input type="text" class="form-control" ngModel name="current" required autocomplete="off" #currentEmail>
      </div>
      <div class="form-group">
        <label>New Email</label>
        <input type="text" class="form-control" ngModel autocomplete="off" required name="new" #newEmail>
      </div>
      <div class="text-error" *ngIf="showErr">{{error}}</div>
      <button [disabled]="formEmail.invalid">Save Changes</button>
    </form>
  </div>
  </div>
