<div class="why-better">
  <div id="WB-top">
    <div class="WB-top-left">
      <h2>We help lessen the stress and cost of running your business</h2>
      <p>{{contentTop}}</p>
      <button type="button" (click)="createAccount()">
        Create an account
      </button>
    </div>
    <div class="WB-top-right">
      <img [src]="imgAfter" class="img-fluid">
      <img [src]="imgTop" class="img-fluid">
    </div>
  </div>

  <div id="Independence">
    <div class="text-head">Independence simplified.</div>
    <div class="content-in">
      <div class="independence-left">
        <img [src]='imgScreen' class="img-fluid">
        <div class="text-img">Web app screenshot</div>
      </div>
      <div class="independence-right">
        <h2>Automated Withholding saves you time and money</h2>
        <div class="content-text">
          <p>{{contentIn}}</p>
          <span>Learn how <span style="color: #FF9100">Safehold</span> works.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="Flexible">
    <div class="text-title">Flexible for your needs.</div>
    <div class="row">
      <div class="content-flexible col-4 text-center">
        <img [src]="img1">
        <div class="item-content">
          <span>Personalized to you</span>
          <p>{{contentFlexible}}</p>
        </div>
      </div>
      <div class="content-flexible col-4 text-center">
        <img [src]="img2">
        <div class="item-content">
          <span>Decide what you owe</span>
          <p>{{contentFlexible}}</p>
        </div>
      </div>
      <div class="content-flexible col-4 text-center">
        <img [src]="img3">
        <div class="item-content">
          <span>Track your progress</span>
          <p>{{contentFlexible}}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="benefits">
    <div class="row">
      <div class="benefit-left col-4">Benefits of Safehold</div>
      <div class="benefit-right col-8">
        <div class="inline-benefits">
          <div class="img-benefits">
            <img [src]="imgB1">
          </div>
          <div class="content-benefits">
            <span>No More Surprises</span>
            <p>{{contentB1}}</p>
          </div>
        </div>
        <div class="inline-benefits">
          <div class="img-benefits">
            <img [src]="imgB2">
          </div>
          <div class="content-benefits">
            <span>Save Money</span>
            <p>{{contentB2}}</p>
          </div>
        </div>
        <div class="inline-benefits">
          <div class="img-benefits">
            <img [src]="imgB3">
          </div>
          <div class="content-benefits">
            <span>Convenience</span>
            <p>{{contentB3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="works">
    <div class="title-work">How it works</div>
    <div class="content-works">
      <div class="item-content">
        <div class="img-content">
          <img [src]="imgW">
        </div>
        <div class="text-content">
          <span>1. Download app</span>
          <p>{{contentW}}</p>
        </div>
      </div>
      <div class="item-content">
        <div class="img-content">
          <img [src]="imgW">
        </div>
        <div class="text-content">
          <span>2. Give details</span>
          <p>{{contentW}}</p>
        </div>
      </div>
      <div class="item-content">
        <div class="img-content">
          <img [src]="imgW">
        </div>
        <div class="text-content">
          <span>3. Choose result</span>
          <p>{{contentW}}</p>
        </div>
      </div>
      <div class="item-content">
        <div class="img-content">
          <img [src]="imgW">
        </div>
        <div class="text-content">
          <span>4. We calculate</span>
          <p>{{contentW}}</p>
        </div>
      </div>
      <div class="item-content">
        <div class="img-content">
          <img [src]="imgW">
        </div>
        <div class="text-content">
          <span>5. Taxes are paid</span>
          <p>{{contentW}}</p>
        </div>
      </div>
      <div class="item-content">
        <div class="img-content">
          <img [src]="imgW">
        </div>
        <div class="text-content">
          <span>6. Year end report</span>
          <p>{{contentW}}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="get-started" class="text-center">
    <h2>Ready to get started?</h2>
    <p>{{contentGet}}</p>
    <button type="button" (click)="createAccount()">Create an account</button>
  </div>
</div>