/*========Header==========*/
header{
    display: flex;
}
header img{
    margin: 32px 0 29px 44px;
}
header h5{
    width: 141px;
    height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
    color: #001527; 
    margin: 33px 0 22px 578px;
    white-space: nowrap;
}
header a.save{
    margin: 36px 55px 34px 490px;
    width: 104px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: right;
    color: #757575;
    white-space: nowrap;
}

/*==========Content========*/
.step-line {
    height: 5px;
    background: #E0E0E0;
    position: relative;
    width: 1440px;
}
.step-line-2{
    height: 5px;
    position: absolute;
    -webkit-animation-name: line;  
    -webkit-animation-duration: 5s;   
    -webkit-animation-fill-mode: forwards; 
    animation-name: line;
    animation-duration: 5s;  
    animation-fill-mode: forwards;
    background-color: orange;
}
@keyframes line {
    0% {width: 540px;}
    100% {width: 720px; }
}
#marial-status{
    font-family: Lato;
    margin-top: 146px;
    width: 1440px;
}
#marial-status .title h4{
    width: 611px;
    height: 39px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    color: #001527;
    margin: 0 414px 29px 415px;
}
#marial-status .title p{
    width: 554px;
    height: 74px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 22px;
    text-align: center;
    color: #757575;
    margin: 0 443px 21px 443px;
}
#marial-status .radio-status p{
    width: 510px;
    height: 37px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 22px;
    text-align: center;
    color: #757575;
    margin: 0 465px;
}
#marial-status button.icon-left {
    top: 426px;
    left: 132px;
    position: absolute;
    width: 48px;
    height: 48px;
    background: #E0E0E0;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
#marial-status button.icon-left:focus {
    outline: none;
}
#marial-status button.icon-left i{
    width: 8px;
    height: 14px;
}
.chooseTaxe{
    display: flex;
    margin-left: 605px;
    margin-bottom: 20px;
    margin-top: 14px;
}
.chooseTaxe .chooseToggle:first-child{
    margin-right: 32px;
}
.chooseTaxe .chooseToggle{
    display: flex;
}
.chooseTaxe .chooseToggle span{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 22px;
    color: #001527;
    height: 37px;
}
.chooseToggle .checked{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 7px;
    
}
.chooseToggle .check{
    background: #FF9100;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
}
.chooseToggle .item-check{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#marial-status .view-child p{
    width: 510px;
    height: 37px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 22px;
    text-align: center;
    color: #757575;
    margin: 20px 464px 14px 466px;
}
#marial-status .view-child .button-view{
    display: flex;
    margin: 0 665px 0 668px;
}
#marial-status .view-child .button-view .child {
    width: 28.95px;
    height: 28px;
    margin: 0 10px;
    line-height: 28px;
}
#marial-status .view-child .button-view .child span{
    margin: 0 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    color: #001527;
}
#marial-status .view-child .button-view button {
    width: 28.95px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #ff9100;
    outline: none;
    cursor: pointer;
    padding: 0;
}

#marial-status .enter-continue{
    display: flex;
    margin: 62px 637px 283px 642px ;
}
#marial-status .enter-continue p.continue{
    width: 75px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #333;
    margin-bottom: 0;
}
#marial-status .enter-continue p.enter{
    width: 92px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #BDBDBD;
}
#marial-status .enter-continue button.icon-right{
    width: 48px;
    height: 48px;
    background: #FF9100;
    border-radius: 50%;
    border: 1px solid #FF9100;
    margin-left: 21px;
    cursor: pointer;
    color: #fff;
}
#marial-status .enter-continue button.icon-right:focus{
    outline: none;
}
#marial-status.enter-continue button.icon-right i{
    width: 8px;
    height: 14px;
}
