<div style="background: #F2F2F2; height: 2px; width: 1440px;"></div>
<div class="content-notification">
  <div class="item-menu">
    <nav class="nav flex-column">
      <a class="nav-link" [routerLink]="['/dashboard/profile']"><span>Profile</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/email']"><span>Email</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/password']"><span>Password</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/bank-account']"><span>Bank Account</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/tax-information']"><span>Tax Information</span></a>
      <a class="nav-link"><span>Notifications</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/help-support']"><span>Help & Support</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/contact-us']"><span>Contact Us</span></a>
      <a class="nav-link"><span>Report an Issue</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/payments-report']"><span>Reports of Payments</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/privacy-policy']"><span>Privacy Policy</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/terms-conditions']"><span>Terms & Conditions</span></a>
      <a class="nav-link" [routerLink]="['/dashboard/delete-account']"><span>Delete Your Account</span></a>
    </nav>
  </div>
  <div class="item-content-right">
    <h2>Manage your notifications</h2>
    <div class="item-notifications">
      <div class="referral">
        <span>Referral payments</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <span>Transfers to safehold account</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <span>Tax payment authorizations</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <span>Monthly/quarterly summary</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <span>Tax tips</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <span>Savings tips</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <span>Accountant changes</span>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
      <div class="referral">
        <div class="text-label">
          <p>General updates</p>
          <span>Such as product features and offers</span>
        </div>
        <label class="switch ">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>
      <div class="bottom-notifications"></div>
    </div>
  </div>
</div>