
<footer>
    <div class="content-footer">
        <div id="footer-left">
            <span class="text-content">Download our mobile app</span>
            <div class="application">
                <img [src]="imgApp">
                <img [src]="imgAndroid">
            </div>
        </div>
        <div id="footer-right">
            <div class="text-content">
                <a href="mailto: support@getsafehold.com">support@getsafehold.com</a>
            </div>
            <div class="help">
                <img [src]="imgHelp">
                <span class="text-content">Help & Support</span>
            </div>
        </div>
    </div>
</footer>
